<div class="gif_container col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-offset-4 col-xs-12">
  <span style="font-weight: 700;">Your fancy GIF url goes here.</span>
  <br>
  <%= render 'form' %>
  <br>
  *Your link needs to have an image extension on the end, like ".gif"
</div>
