<%= Time.now.strftime("%B") %>
<% @users.each do |user| %>
  <% tickets = user.tickets.where("opened >= ? AND opened <= ?", Time.now.beginning_of_month, Time.now.end_of_month) %>
  <div class="user_name">
    <%= user.name %>:
  </div>
  <div class="user_stats">
    Tickets: <%= tickets.count %>
    <br>
    Avg Time to First Response: <%= get_average(tickets).round(1) %>
  </div>
  <br>
<% end %>
